* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    background-color: #171836;
    width: 100%;
    margin: 0 auto;

}

.header {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 26px;
    margin-bottom: 205px;
    display: flex;

}

.header_flex {
    display: flex;


}



/* .sinauw11 {
    position: absolute;
}*/

.sinauw11_circle {
    position: relative;
    bottom: 33px;
    left: 15px;
}

.sinauw11_circle01 {
    position: relative;
    left: 57px;
    bottom: 19px;
}

.nav {
    margin-left: 148px;
}

.header_nav {
    display: flex;
    list-style-type: none;

}

.nav__li {
    margin-right: 44px;
}

.nav__li:last-child {
    margin-right: 0px;
    /* margin: 0px 44px; */
}

.nav__link_push {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.6);
    flex: none;
    order: 1;
    flex-grow: 0;

}

.language {
    display: flex;
    margin-left: 389px;
}

.header_eng {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #D1D1D7;
    margin-right: 6px;
}

.globe {
    width: 20px;
    height: 20px;
    background-color: #D1D1D7;
    border-radius: 10px;
    margin-right: 6px;

}

.lang_push {
    width: 6px;
    height: 6px;
    margin-top: 7.5px;
}

.button_orange {
    background: #F5443B;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.button_header {
    width: 102px;
    height: 41px;
    color: #FFFFFF;

}

.button_div {
    margin-left: 31px;
    margin-top: -8px;
}

/* .section_1 {
    display: flex;
}

.section_1_left_elem {
    position: relative;


}

.section_1_left_girl {
    position: relative;
    bottom: 150px;
    left: 15px;
} */


/* .circle_red_1 {
    position: relative;
    left: -170px;
    bottom: 880px;
}


.circle_blue_1 {
    position: relative;
    left: -300px;
    top: -830px;
}

.square_book {
    position: relative;
    left: -255px;
    top: -752px;
}

.book {
    position: relative;
    left: -330px;
    top: -773px;
}


.circle_red_2 {
    position: relative;
    left: -870px;
    top: -780px;
}

.circle_orange {
    position: relative;
    left: -230px;
    bottom: 818px;
}

.cquare_left {
    position: relative;
    top: -518px;
    left: -908px;
}

.bulb {
    position: relative;
    top: -540px;
    left: -991px;
} */

/*
.circle_red_3 {
    position: relative;
    bottom: 1px;
    left: -790px;
}

.circle_orange2 {
    position: relative;
    bottom: -60px;
    left: -540px;
}

.circle_blue_2 {
    position: relative;
    bottom: 1px;
    left: -395px;
}

.bord_people {
    position: relative;
    bottom: 123px;
    left: 395px;
}

.bord_people-1 {
    position: relative;
    bottom: 143px;
    left: 45px;
}

.bord_people-2 {
    position: relative;
    bottom: 143px;
    left: 26px;
}

.bord_people-3 {
    position: relative;
    bottom: 143px;
    left: 7px;
}

.bord_people-4 {
    position: relative;
    bottom: 143px;
    left: -12px;
}

.bord_people-5 {
    position: relative;
    bottom: 143px;
    left: -31px;
}

.bord_people-6 {
    position: relative;
    bottom: 165px;
    left: -70.5px;
}

.bord_people-7 {
    position: relative;
    bottom: 158px;
    left: -85.5px;
}

.section_1_left-p1 {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #BBBBC4;
    bottom: 194px;
    left: 630px;
}

.section_1_left-p2 {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #BBBBC4;
    bottom: 193px;
    left: 630px;
}

.section_1_left-span {
    color: red;
} */