* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    background-color: #171836;
    width: 100%;
    margin: 0 auto;

}

.header {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 26px;
    margin-bottom: 216px;
}

.header_flex {
    display: flex;


}



.nav {
    margin-left: 148px;
}

.header_nav {
    display: flex;
    list-style-type: none;
}

.nav__li {
    margin-right: 44px;
}

.nav__li:last-child {
    margin-right: 0px;
    
}

.nav__link_push {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.6);
    flex: none;
    order: 1;
    flex-grow: 0;

}

.language {
    display: flex;
    margin-left: 389px;
}

.header_eng {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #D1D1D7;
    margin-right: 6px;
}

.globe {
    width: 20px;
    height: 20px;
    background-color: #D1D1D7;
    border-radius: 10px;
    margin-right: 6px;

}

.lang_push {
    width: 6px;
    height: 6px;
    margin-top: 7.5px;
}

.button_orange {
    background: #F5443B;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.button_header {
    width: 102px;
    height: 41px;
    color: #FFFFFF;

}

.button_div {
    margin-left: 31px;
    margin-top: -8px;
}

 .section_1_flex {
    display: flex;
}

.section_1_left_girl {
    position: absolute;
    right: 550px;
    top: 120px;
}


/* .bord_people {
    position: relative;
    bottom: 45px;
    right: 270px;
}

.bord_people-1 {
    position: relative;
    bottom: 65px;
    right: 620px;
}

.bord_people-2 {
    position: relative;
    bottom: 65px;
    right: 640px;
}

.bord_people-3 {
    position: relative;
    bottom: 65px;
    right: 660px;
}

.bord_people-4 {
    position: relative;
    bottom: 65px;
    right: 680px;
}

.bord_people-5 {
    position: relative;
    bottom: 65px;
    right: 700px;
}

.section_1_left-p1 {
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #BBBBC4;
    top: 780px;
    right: 630px;
} 

.section_1_left-p2 {
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #BBBBC4;
    top: 805px;
    right: 627px;
}

.section_1_left-span {
    color: red;
} */

.yourSkills {
    width: 484px;
    height: 219px;
    font-weight: 600;
    font-size: 56px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 24px;
}

.have_something {
    width: 478px;
    height: 27px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.4);
}