* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    background-color: #171836;
    width: 100%;
    margin: 0 auto;

}

.header {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 26px;
    margin-bottom: 216px;
}

.header_flex {
    display: flex;


}



.nav {
    margin-left: 148px;
}

.header_nav {
    display: flex;
    list-style-type: none;
}

.nav__li {
    margin-right: 44px;
}

.nav__li:last-child {
    margin-right: 0px;
    
}

.nav__link_push {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.6);
    flex: none;
    order: 1;
    flex-grow: 0;

}

.language {
    display: flex;
    margin-left: 389px;
}

.header_eng {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #D1D1D7;
    margin-right: 6px;
}

.globe {
    width: 20px;
    height: 20px;
    background-color: #D1D1D7;
    border-radius: 10px;
    margin-right: 6px;

}

.lang_push {
    width: 6px;
    height: 6px;
    margin-top: 7.5px;
}

.button_orange {
    background: #F5443B;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.button_header {
    width: 102px;
    height: 41px;
    color: #FFFFFF;

}

.button_div {
    margin-left: 31px;
    margin-top: -8px;
}

 .section_1_flex {
    display: flex;
}

.section_1_left_girl {
    position: relative;
    bottom: 90px;
}


.bord_people {
    position: relative;
    bottom: 185px;
    left: 390px;
}

.bord_people-1 {
    position: relative;
    bottom: 205px;
    left: 40px;
}

.bord_people-2 {
    position: relative;
    bottom: 205px;
    left: 20px;
}

.bord_people-3 {
    position: relative;
    bottom: 205px;
    
}

.bord_people-4 {
    position: relative;
    bottom: 205px;
    right: 20px;
}

.bord_people-5 {
    position: relative;
    bottom: 205px;
    right: 40px;
}



.section_1_left-p1 {
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #BBBBC4;
    top: 870px;
    left: 620px;
} 


.section_1_left-p2 {
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #BBBBC4;
    top: 890px;
    left: 620px;
}

.section_1_left-span {
    color: red;
}

.yourSkills {
    width: 484px;
    height: 219px;
    font-weight: 600;
    font-size: 56px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 24px;
}

.have_something {
    width: 478px;
    height: 27px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 56px;
}

form {
    width: 400px;
    margin: auto;
    margin-bottom: 48px;
}

input {
    padding: 4px 10px;
    border: none;
    font-size: 16px;
    border-radius: 12px;
background: #1F2143;
}

.search {
    width: 75%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.4);
    border: none;
    padding: 20px;
}

.img_search {
    position:absolute;
    right: 50px;
    bottom: 2px;
}

.img_search2 {
    position: absolute;
    width: 30px;
    right: 56px;
    bottom: 10px;
    
}

.suggestions {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 42px;
}

.suggestions_more {
    border: 1px solid rgba(154, 156, 203, 0.6);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(154, 156, 203, 0.6);
    display: inline-grid;
}

.section_2_flex {
    justify-content: space-evenly;
    display: flex;
    margin-bottom: 170px;
}



.section_2_h4_columm {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.7);
}

.section_2_p_columm {
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: rgba(255, 255, 255, 0.6);
    width: 310px;
}

.section_3_h-1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.section_3_p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 84px;
}

.section_3_flex {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 127px;
    
}

.section_3_flex_border {
    border: 1px solid #292B56;
    border-radius: 20px;
    background-color: #1F2143;
    width: 276px;
}

.section_3_flex_1 {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #3BF5BD;
    text-align: center;
    padding-top: 10px;
}

.section_3_flex_2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.section_3_flex_3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.4);
    border-bottom: 19px;
    text-align: center;
    margin-bottom: 19px;
}

.border_bottom {
    border-bottom: 1px solid #292B56;
    margin-bottom: 19px;
}

.section-3-nove-flex {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}


.section-3-nove-flex_name {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
}

.section-3-nove-flex_post {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.4);
}

.cection_3-button {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: #F5443B;
    border-radius: 6px;
    padding: 10px 20px;
    margin-left: 70px;
    margin-bottom: 10px;

}

.section-3 {
    background: #171836;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #F5443B;
    border-radius: 6px;
    padding: 10px 20px;
    border: 1px solid #F5443B;
    margin-left: 590px;
    margin-bottom: 150px;
}





